textarea {
    width: 16rem;
    background-color: #EBECF0;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: flex;
    /* width: 100%; */
justify-content: space-between;
    /* background-color: red; */
}

textarea:hover {
    background-color: #d8dadd;
}

textarea:focus {
    outline-color: darkblue;
    height: 50px;
}