.lists {
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    background-size: cover;
    background-position: center;
}

.lists-container {
    position: absolute;
    top: 10vh;
    left: 5%;
    height: 85vh;
    width: 90%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

input {
    width: 18rem;
    border-radius: 5px;
}

.list {
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 2%;
    min-height: 200px;
    min-width: 18rem;
    background-color: #EBECF0;
    margin: 5px;
    overflow-y: scroll;
}

.list>h6 {
    margin-left: 10px;
    align-self: start;
    color: #000;
    height: 25px;
    width: 95%;
    box-shadow: 0 1px 0 #091e4240;
}


::-webkit-scrollbar {
    height: 10px;
    width: 9px;
}

/* Track */

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #BEC3CE;
}

/* Handle on hover */