.react-responsive-modal-modal {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    height: 300px;
    display: inline-block;
    background:teal;
    position: relative;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);
    overflow-y: auto;
}