.popup-window {
    position: absolute;
    top: 8vh;
    right: 0;
    left: 0;
    margin: auto;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 00 00 100px black;
    overflow-y: auto;
}

.container {}

.popup {
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    height: 100vh;
    width: 60%;
    background-color: #F4F5F7;
    border-radius: 5px;
}

.popup>button {
    position: absolute;
    top: 1%;
    right: 1%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    line-height: 20px;
    ;
}

.popup>button:hover {
    background-color: #d8dadd;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.heading {
    grid-area: 1/ span 4;
    display: flex;
    padding: 5%;
    /* justify-content: space-between; */
}

.heading>h5 {
    color: #172B4D;
    margin-left: 15px;
    width: 90%;
}

.description>h3 {
    color: #172B4D;
}

.description {
    grid-area: 2 /span 3;
    padding-left: 5%;
}

.description>textarea {
    background-color: #EAECEF;
    width: 100%;
    min-height: 150px;
    padding: 1%;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #172b4d;
}

.description>textarea:hover {
    background-color: #d8dadd;
}

.description>textarea:focus {
    outline-color: blue;
    min-height: 250px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.rightmenu {
    width: 100%;
}

.rightmenu>ul>li {
    background-color: #EAECEF;
}

.rightmenu>ul>li:hover {
    background-color: #eee;
    border-radius: 5px;
}